<?xml version="1.0" ?>
<launch>
    <rosparam file = "$(find movimiento_puzzlebot)/config/setpoint_params.yaml" command = "load"  />
        <node name="path_generator" pkg="movimiento_puzzlebot" type="path_generator.py" output="screen" launch-prefix="gnome-terminal --command" />
        <node name="controller" pkg="movimiento_puzzlebot" type="controller.py" output="screen" launch-prefix="gnome-terminal --command" />

	
</launch>
